.App {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin-right: 10px;
  width: 200px;
}

button {
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  
  align-items: center;
  background-color: lightgray;
  padding: 20px;
  padding-left: 600px;
  font-family: 'Scheherazade New';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 82px;


color: #000000;


}

span {
  cursor: pointer;
}
